
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
        outline: 0;
        box-sizing: border-box;
    
    
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Mainbox{
    height: 600px;
    width:1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    column-gap: 25px;

}
.card{
    width: 100px;
    background-size: cover;
background-repeat: no-repeat;
background-position: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    transition: .6 cubic-bezier(.28,-0.03,.99);
    -webkit-transition: .6 cubic-bezier(.28,-0.03,.99);
    -moz-transition: .6 cubic-bezier(.28,-0.03,.99);
    -ms-transition: .6 cubic-bezier(.28,-0.03,.99);
    -o-transition: .6 cubic-bezier(.28,-0.03,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0,  0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.amit{
    color: white;
    display: flex;
    column-gap: 10px;
    flex-wrap: nowrap;
/*   
        margin-right: 364px;
        margin-top: 100px;
        margin-top: 305px;
     */
   
}

.icon{
    background-color: #226;
    height: 70px;
    width: 70px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.discription{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transition: all linear .3s ease;
    transition-delay: .3s;
    -webkit-transition: all linear .3s ease;
    -moz-transition: all linear .3s ease;
    -ms-transition: all linear .3s ease;
    -o-transition: all linear .3s ease;
}
.discription h3{
    columns: #b0b0ba;
    padding-top: 5px;
    font-size: 30px;
    font-weight: 700;
}
.discription p{
text-transform: uppercase;
font-size: 14px;
}
input{
    display: none;
}
input:checked + label {
    width:1200px;
    
}

input:checked + label .discription {
    opacity: 1 !important;
    transform: translateY(0) !important;
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    -webkit-transform: translateY(0);
}
.card[for="c1"]{
    background: url(../img/1.avif);
     background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.card[for="c2"]{
    background: url(../img/2.avif);
     background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.card[for="c3"]{
    background: url(../img/4.jpg);
     background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.card[for="c4"]{
    background: url(../img/5.avif);
     background-size: cover;
background-repeat: no-repeat;
background-position: center;
}